name: Run unit tests

on:
  pull_request:
    branches:
      - main
      - stable

jobs:
  build:
    runs-on: self-hosted
    container: docker:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run unit tests
        run: |
          docker-compose -f docker-compose.test.yml up --build -d --force-recreate
          docker exec -w /code backend ls -la
          docker exec -w /code/backend backend poetry run python manage.py test
          docker-compose -f docker-compose.test.yml down -v -t 0
